@import "tailwindcss";
@import "@catppuccin/tailwindcss/config.css";

@plugin "@tailwindcss/typography";

:root {
	--tw-prose-headings: var(--color-ctp-text);
	--tw-prose-body: var(--color-ctp-text);
	--tw-prose-links: var(--color-ctp-text);
}

h2,
h3,
h4 {
	@apply scroll-m-16;
}

div[align="center"] {
	@apply flex items-center justify-center gap-4 my-3;
}

div[align="center"] > p {
	@apply m-0 p-0 flex flex-wrap gap-2 justify-center max-w-3xl;
}

div[align="center"] > * > a > img,
div[align="center"] > * > img {
	@apply m-0;
}

p[align="center"]:has([href^="https://github.com"])
{
	@apply flex items-center justify-center;
}

[alt="Buymeacoffee"] {
	@apply h-6;
}
