---
import Base from "../layouts/Base.astro";
---

<Base>
	<div id="graph">failed to load nvim visualization :(</div>
</Base>

<script>
	import { Treemap } from "nanovis";
	import { esbuildMetafileToTree } from "nanovis/esbuild";

	let loaded = false;

	async function listener() {
		if (loaded) return;
		const bloatResponse = await fetch("/nvim.json");
		const bloatJson = await bloatResponse.json();

		const map = new Treemap(esbuildMetafileToTree(bloatJson));

		map.events.on("select", (node) => {
			console.log(node);
		});
		map.events.on("hover", (node) => {
			console.log(node);
		});

		document.getElementById("graph")?.replaceWith(map.el);
		loaded = true;
	}

	listener();

	document.addEventListener("astro:before-swap", () => (loaded = false));
	document.addEventListener("astro:after-swap", listener);
	window.addEventListener("DOMContentLoaded", listener);
</script>
