---
import { getEntry } from "astro:content";

const data = await getEntry("configs", "atuin");

const options = data?.data?.options || {};
---

<h2 id="atuin">Atuin</h2>

<table class="divide-y divide-ctp-text-300">
	{
		Object.entries(options).map(([option, value]) => (
			<tr class="even:bg-ctp-mantle">
				<td class="pl-4 pr-2">
					<a
						href={`https://docs.atuin.sh/configuration/config/#${option}`}
						target="_blank"
						rel="noreferrer"
					>
						{option}
					</a>
				</td>
				<td class="pl-2 pr-4">{value}</td>
			</tr>
		))
	}
</table>
