---
import { ClientRouter } from "astro:transitions";

import { Footer, Header } from "../components";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stephansama Dotfiles</title>
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<ClientRouter />
	</head>
	<body class:list={["bg-ctp-base text-ctp-text p-4 max-w-7xl mx-auto"]}>
		<Header />
		<main class=""><slot /></main>
		<Footer />
	</body>
</html>
